<a href="{{ product.url }}" class="collection__product">
    <div class="collection__productImage--wrapper">
        <div class="collection__product--icons">
            <add-to-cart class="collection__form" data-component='add-to-cart' data-id="{{ product.variants.first.id }}">
                <button type="submit" data-item="button" class="collection__button">
                    {% render 'icon' with 'cart' %}
                </button>
            </add-to-cart>
            {% render 'icon' with 'zoom' %}
            {% render 'icon' with 'wishlist' %}
        </div>
        <img class="collection__product--image" src="{{ product.featured_media | image_url: width: 200, height: 200 }}" alt="{{ product.title | escape }}">
    </div>
    <div class="collection__product--content">
        <h3 class="collection__product--title">{{ product.title | truncate: 20 }}</h3>
        <div class="collection__product--colors">
            {% for variant in product.variants %}
                <span class="collection__product--color" style="background-color: {{ variant.metafields.custom.colors }}; color: {{ variant.metafields.custom.colors }};">.</span>
            {% endfor %}
        </div>
        <div class="collection__price--wrapper">
            <p class="collection__product--price">{{ product.price | money }}</p>
            {% if product.compare_at_price > product.price %}
                <p class="collection__product--price collection__compare--price">{{ product.compare_at_price | money }}</p>
            {% endif %}
        </div>
    </div>
</a>