<a href="{{ product.url }}" class="collection__product {% if product.available %}{% else %}collection__unavailable--product{% endif %}">
    <div class="collection__productImage--wrapper">
        <div class="collection__product--icons">
            <add-to-cart class="collection__form" data-component='add-to-cart' data-id="{{ product.variants.first.id }}">
                <button type="submit" data-item="button" {% if product.available %} {% else %} disabled {% endif %} class="collection__button">
                    {% render 'icon' with 'cart' %}
                </button>
            </add-to-cart>
            {% render 'icon' with 'zoom' %}
            {% render 'icon' with 'wishlist' %}
        </div>
        {% assign aspect_ratio = product.featured_media.preview_image.aspect_ratio %}
        {% assign width = 200 %}
        {% assign height = width |  times: aspect_ratio %}
        <img class="collection__product--image" src="{{ product.featured_media | image_url: width: width, height: height }}" alt="{{ product.title | escape }}">
    </div>
    {% if product.available %}
    {% else %}
        <p class="collection__unavailable--text">Product Unavailable</p>
    {% endif %}
    <div class="collection__product--content">
        <h3 class="collection__product--title">{{ product.title | truncate: 20 }}</h3>
        <div class="collection__product--colors">
            {% for variant in product.variants %}
                <span class="collection__product--color" style="background-color: {{ variant.metafields.custom.colors }}; color: {{ variant.metafields.custom.colors }};">.</span>
            {% endfor %}
        </div>
        <div class="collection__price--wrapper">
            <p class="collection__product--price">{{ product.price | money }}</p>
            {% if product.compare_at_price > product.price %}
                <p class="collection__product--price collection__compare--price">{{ product.compare_at_price | money }}</p>
            {% endif %}
        </div>
        <p class="collection__description">{{ product.description }}</p>
    </div>
</a>