{{ 'style.collection-slider.css' | asset_url | stylesheet_tag }}
{{ "https://unpkg.com/swiper/swiper-bundle.min.css" | stylesheet_tag }}
{{ "https://unpkg.com/swiper/swiper-bundle.min.js" | script_tag }}

<div class="collection__slider">
    <div class="page-width">
        <h1 class="collection__slider--title">{{ section.settings.title }}</h1>
        <div class="swiper collection__slider--swiper">
        <div class="collection__slider--wrapper swiper-wrapper">
            {% for product in section.settings.collection.products %}
                <a href="{{ product.url }}" class="collection__slider--products swiper-slide">
                    <img class="collection__slider--image" src="{{ product.featured_media | image_url }}" alt="">
                    <h3 class="collection__slider--heading">{{ product.title }}</h3>
                    <p class="collection__slider--money">{{ product.price | money }}</p>
                </a>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>   
        </div>
    </div>
</div>

<script>
  var swiper = new Swiper(".collection__slider--swiper", {
    slidesPerView: 4,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    breakpoints: {
        250: {
        slidesPerView: 2,
        spaceBetween: 20,
        },
        450: {
        slidesPerView: 3,
        spaceBetween: 10,
        },
        768: {
        slidesPerView: 4,
        spaceBetween: 40,
        }
        
    }
  });
</script>

{% schema %}
{
    "name": "Collection Slider",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "Title"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
    ],
    "presets": [
        {
            "name": "Collection_slider"
        }
    ]
}
{% endschema %}