{{ 'footer.min.css' |  asset_url |  stylesheet_tag }}

<footer class="footer">
    <div class="page-width">
        <div class="footer__top">
            {% for block in section.blocks %}
                {% if block.type == 'navigation' %}
                    <div class="footer__column footer__column--nav">
                        <h2>{{ block.settings.linklist.title }}</h2>
                        {% for link in block.settings.linklist.links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </div>
                {% elsif block.type == 'newsletter' %}
                    <div class="footer__column footer__column--news">
                        <h2 class="footer__column--news--title">{{ block.settings.heading }}</h2>
                        {% form 'customer', id: 'footer-newsletter' %}

                            <div class="footer__news--wrapper">
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <input type="email" name="contact[email]" placeholder="Email Address">
                                <button type="submit">Sign up</button>
                            </div>

                            {% if form.posted_successfully? %}
                                <p class="footer__column--news--message">You've been subscribed!</p>
                            {% endif %}

                            {% if form.errors %}
                                <p class="footer__column--news--message">{{ form.errors.messages.email }}</p>
                            {% endif %}

                        {% endform %}

                        {{ block.settings.text }}
                    </div>
                {% elsif block.type == 'text' %}
                    <div class="footer__column footer__column--text">
                        <h2>{{ block.settings.heading }}</h2>
                        {{ block.settings.text }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</footer>
<div class="footer__bottom">
    <div class="page-width">
        <div class="footer__bottom--wrapper">
            <p>©Webecy - All Rights Reserved</p>
            <div class="footer__bottom--socials">
                <a href="/">
                    {% render 'icon' with 'facebook' %}
                </a>
                <a href="/">
                    {% render 'icon' with 'instagram' %}
                </a>
                <a href="/">
                    {% render 'icon' with 'twitter' %}
                </a>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "text",
            "id": "email_title",
            "default": "Enter Email Address",
            "label": "Email Title"
        },
        {
            "type": "text",
            "id": "sign_up",
            "default": "Sign Up",
            "label": "Sign up text"
        },
        {
            "type": "textarea",
            "id": "information",
            "default": "Contact Info",
            "label": "Extra info"
        }
    ],
    "max_blocks": 5,
    "blocks": [
        {
            "name": "Newsletter",
            "type": "newsletter",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading Text"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Body Text"
                }
            ]
        },
        {
            "name": "Text",
            "type": "text",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading Text"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Body Text"
                }
            ]
        },
        {
            "name": "Navigation column",
            "type": "navigation",
            "settings": [
                {
                    "type": "link_list",
                    "id": "linklist",
                    "label": "Navigation menu"
                }
            ]
        }
    ]
}
{% endschema %}