{{ 'header.min.css' |  asset_url |  stylesheet_tag }}

<header class="header2 color-{{ section.settings.color_scheme }}">
    <div class="header__position--fixed">
    <div class="page-width">
        <div class="header__wrapper">
            <details class="header__mobile--details">
                <summary class="header__mobile--summary">
                    {% render 'icon-hamburger' %}
                    {% render 'icon-close' %}
                </summary>
                <div class="header__mobile--drawer">
                    <div class="header__mobile--container">
                        <ul class="header__mobile--menu">
                            {% for link in section.settings.menu.links %}
                                <li class="header__mobile--item">
                                    <a href="{{ link.url }}" class="header__mobile--link">{{ link.title | escape }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </details>

            <a href="/" class="header__logo--wrapper">
                {% if section.settings.logo %}
                    <img class="header__logo--image" src="{{ section.settings.logo | image_url: width: 200 }}">
                {%  elsif section.settings.logo_text %}
                    <span class="header__logo--text">{{ section.settings.logo_text }}</span>
                {% endif %}
            </a>

            {% render 'header2-dropdown-menu' %}

            {% if section.settings.show_search %}
            <form action="{{ routes.search_url }}" class="header__search--form">
                <input class="header__search--input" type="search" name="q">
                <button class="header__search--icon" type="submit">
                    {% render 'icon-search' %}
                </button>
            </form>
            {% endif %}
        </div>
    </div>
    </div>
</header>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-4"
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Link lists"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo Image"
        },
        {
            "type": "text",
            "id": "logo_text",
            "default": "Logo",
            "label": "Logo text"
        },
        {
            "type": "checkbox",
            "id": "show_search",
            "label": "Show search form?",
            "default": true
        }
    ]
}
{% endschema %}