<div class="header__topbar color-{{ section.settings.color_scheme }}">
    <div class="header__topbar--fixed">
    <div class="page-width">
        <div class="header__topbar--wrapper">
            <div class="header__topbar--left">
                {% if section.settings.email %}
                    <a href="mailto: {{ section.settings.email }}">
                        {% render 'icon-email' %}
                        <span class="header__topbar--span">{{ section.settings.email }}</span>
                    </a>
                {% endif %}
                {% if section.settings.number %}
                    <a href="tel: {{ section.settings.number }}">
                        {% render 'icon-number' %}
                        <span class="header__topbar--span">{{ section.settings.number_title }}</span>
                    </a>
                {% endif %}
            </div>
            <div class="header__topbar--right">
                <span class="header__topbar--link">9 AM - 10 PM</span>
            </div>
        </div>
    </div>
    </div>
</div>

<style>
    .header-topbar{
        z-index: 10;
    }
    .header__topbar{
        background-color: var(--color-background-color);
        color: var(--color-text-color);
        padding: 13px 0;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        height: 44px;
    }
    .header__topbar svg{
        width: 20px;
        height: 20px;
    }
    .header__topbar--wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 44px;
    }
    .header__topbar--fixed{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 44px;
        background-color: var(--color-background-color);
        color: var(--color-text-color);
    }
    .header__topbar--left{
        display: flex;
        gap: 48px;
        align-items: center;
    }
    .header__topbar--left a{
        color: var(--color-text-color);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 16px;
    }
    .header__topbar--right{
        display: flex;
        gap: 18px;
        align-items: center;
    }
    .header__topbar--link{
        text-decoration: none;
        color: var(--color-text-color);
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 16px;
    }
    .header__topbar--cart svg{
        width: 24px;
        height: 24px;
    }

    @media (max-width: 800px){
        .header__topbar--span{
            display: none;
        }
        .header__topbar--left{
            gap: 18px;
        }
        .header__topbar svg{
            width: 25px;
            height: 25px;
        }
    }
</style>

{% schema %}
{
    "name": "Header topbar",
    "class": "header-topbar",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-4"
        },
        {
            "type": "text",
            "id": "email",
            "default": "yahyo@gmail.com",
            "label": "Email"
        },
        {
            "type": "number",
            "id": "number",
            "default": 998901234567,
            "label": "Phone number"
        },
        {
            "type": "text",
            "id": "number_title",
            "default": "(998)901234567",
            "label": "Phone number title"
        },
        {
            "type": "color",
            "id": "background_color",
            "default": "#7E33E0",
            "label": "Background Color"
        },
        {
            "type": "color",
            "id": "color",
            "default": "#fff",
            "label": "Color"
        }
    ]
}
{% endschema %}